body {
    
color: white;

background: white;

border: solid 10px firebrick;

margin: 0px;

font-family: "Arvo", sans-serif;

h1 {font-size: 30px;}

p {font-size: 10px;}



}

header{

font-size: 40px;

margin: 5px;

padding: 20px;

border-bottom: solid 10px firebrick ;

color: firebrick;


}

.chamada{

background: firebrick;

padding-bottom: 5px;

padding-top: 20px;

display: flex;

justify-content: center;


}

div {margin-right: 20px;}

.categoria-videos{

display: flex;
overflow-x: auto;
gap: 10px;}

.categoria {
padding-left: 15px;
padding-right: 15px;

background: firebrick;

}


.categoria-videos img{
opacity: 0.5;
height: 130px;

}

.categoria-videos img:hover {

opacity:1.0;
border: 1px solid white;
}
